{{#element}}
{{{indent}}}{{#toDo}}{{{toDo}}}:	{{/toDo}}{{#time}}{{#toPrintMode}}{{{mode}}}: {{/toPrintMode}}{{#toPrint}}{{{timeValue}}}	{{/toPrint}}{{/time}}{{{headline}}}
{{#description}}{{{indent}}}  {{{.}}}
{{/description}}
{{/element}}
