{{#element}}
{{#toDo}}<b><span color="red">{{toDo}}</span>:</b>	{{/toDo}}{{#time}}{{#toPrint}}<b><span color="red">{{{mode}}}</span>: {{{timeValue}}}</b>	{{/toPrint}}{{/time}}{{#description}}{{.}}
{{/description}}
{{/element}}
