Week agenda ({{{weeks}}}):
{{#days}}
{{{weekday}}}, {{{year}}}-{{{month}}}-{{{day}}}:
{{#entries}}
	{{#todo}}{{{todo}}}	{{/todo}}{{#time}}{{{time}}}	{{/time}}{{{desc}}}
{{/entries}}
{{^entries}}

{{/entries}}
{{/days}}
